<div class="page-view">
  <div class="container">

    <p>Project Name</p>
    <p>Another Project</p>
    
    <div class="mobile-view" style="background-image: url(<%= asset_path 'i-phone-6-black.png' %>)">
      <%= image_tag 'https://placeholdit.imgix.net/~text?bg=F6F6F6&txtclr=000000', size: "310x530", class: "contents" %>
      <div id="canvas"></div>
    </div>
    
    <div class="navbar-fixed-bottom menu-image-link gone">
      <div class="title">
        <h2 class="vertical-center">title</h2>
      </div>
      <div class="elements">
        <div class="image-group">
          <!-- <div class="image-placeholer">
            <div class="upload">
              <p class="vertical-center">이미지 가져오기</p>
            </div>
          </div> -->
          <!-- <= embedded_svg("group.svg", class: "image-placeholer") %> -->
<!-- 
          <= form_for @image, url: images_path, html: { multipart: true } do |f| %>
            <= f.file_field :avatar %>
            f.image_submit_tag("comment-button.png")
          < end %> -->

          <%= image_tag "group.svg", class: "image-placeholer" %>

          <!-- < @images.each do |images| %>
            <= content_tag :div, "#{images.name}", id: "#{images.id}" %>
          < end %> -->

          <!-- <= image_tag 'https://placeholdit.imgix.net/~text?bg=F6F6F6&txtclr=000000', class: "image-placeholer" %> -->
          
        </div>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
  
</script>

