<div class="image-view">
  <div class="container">
  <div style="margin: 50px;">
  <% @images.each do |image| %>
    <%= link_to image_tag(image.photo(:thumb), id: "#{image.id}", style: "margin-left:20px;", size: "200x300"), link_page_path(image.id) %>
  <% end %>
  </div>
  </div>
</div>